<% if @messages.empty? %>
  <p>There is No Messages!</p> 
<% else %>
  <table id="myTable" class="display">
    <thead>
      <tr>
          <th>User Name</th>
          <th>Messages</th>
          <th>Date Time</th>
          <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @messages.each do |msg| %>
        <tr>
          <td><%= link_to msg.user.username,  edit_user_path(msg.user) if msg.user%></td>
          <td><%= msg.message   %></td>
          <td><%= msg.created_at %></td>
          <td>
            <% if current_user == msg.user %>
              <%= link_to 'Show', message_path(msg) %> |
              <%= link_to 'Edit', edit_message_path(msg) %> |
              <%= link_to 'Delete', message_path(msg), data: { turbo_method: :delete, turbo_confirm: "Are You Sure?" } %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
