<h1>Message Inbox</h1>

<% if @messages.empty? %>
<p>There is No Messages!</p> 
<% else %>

<table>
    <thead>
        <tr>
        <th>User Id</th>
            <th>Messages</th>
            <th>Date Time</th>
            <th colspan="3">Action</th>
        </tr>
    </thead>
    <tbody>
    <% @messages.each do |msg| %>
        <tr>
        <td><%= msg.user_id   %></td>
            <td><%= msg.message   %></td>
            <td><%= msg.created_at %></td>
            <td><%= link_to 'Show', message_path(msg) %></td>
            <td><%= link_to 'Edit', edit_message_path(msg) %></td>
            <td><%= link_to 'Delete', message_path(msg), data: { turbo_method: :delete, turbo_confirm: "Are You Sure?" } %></td>
        </tr>
    <% end %>
    </tbody>
</table>
<% end %>
<p>
  <%= link_to 'Create New Message', new_message_path %>
  <%= link_to 'Back to Home page', root_path %>
</p>