<h1 class="text-center">Users Details</h1>

<div class="grid-container">
    <table  id="myTable" class="display" style="margin-down:10px;">
        <thead>
        <tr>
        <th>User Name</th>
        <th>Image</th>
        <th>No of Articles</th>
        <th colspan="1">Actions</th>
        </tr>
        </thead>
        <tbody>
        <% @users.each do |user| %>
            <tr>
            <td><%= link_to user.username, user %></td>
            <td><%= link_to gravatar_for(user, size: 150), user %></td>
                <td><%= pluralize(user.messages.count, "message") %></td>      
                <td><%= link_to 'View Profile', user %> |
                <%= link_to 'Edit Profile', edit_user_path(user) %></td>
            </tr>
            <% end %>
        </tbody>
    </table> 
<div/>
